<header>
<!--Navbar -->
<nav class="mb-1 navbar navbar-expand-lg navbar-dark default-color">
  <a class="navbar-brand" href="#">Prashnotri</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent-333"
    aria-controls="navbarSupportedContent-333" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarSupportedContent-333">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active" id="1">
        <a class="nav-link" href="/">Home
          <span class="sr-only">(current)</span>
        </a>
      </li>
      <li class="nav-item" id="2">
        <a class="nav-link" href="/addquiz">Add Quiz</a>
      </li>
      <li class="nav-item" id="3">
        <a class="nav-link" href="/view">View Quiz</a>
      </li>
      <li class="nav-item" id="4">
        <a class="nav-link" href="/about">About</a>
      </li>
    </ul>
    <ul class="navbar-nav ml-auto nav-flex-icons">
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" id="navbarDropdownMenuLink-333" data-toggle="dropdown" aria-haspopup="true"
          aria-expanded="false">
          <% if (locals.user) { %>
          <%= user.username %>
          <% } %>
          <i class="fas fa-user"></i>
        </a>
        <div class="dropdown-menu dropdown-menu-right dropdown-default" aria-labelledby="navbarDropdownMenuLink-333">
            <% if (locals.user) { %>
                <a class="dropdown-item" href="/profile">Profile</a>
                <a class="dropdown-item" href="/logout">Sign Out</a>
            <% } else { %>
                <a class="dropdown-item" href="/login">Sign In</a>
                <a class="dropdown-item" href="/register">Register</a>
            <% } %>
        </div>
      </li>
    </ul>
  </div>
</nav>
<!--/.Navbar -->
</header>
