body {
  background: url('../img/bg2.jpeg') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 100%;
  overflow: hidden;
}

.logo a {
  color: #212529;
  text-decoration: none;
}
