.post-container {
    margin: 20px 20px 0 0;
    overflow: auto
}
.post-thumb {
    float: left
}
.post-thumb img {
    display: block;
    margin-top: 150px;
    height: 300px;
    width: 300px
}
.post-content {
    margin-left: 400px;
    font-size: 120%
}
.post-title {
    font-weight: bold;
    font-size: 300%
}
