{% extends 'base.html' %}

{% block content %}
<div class="card">
        <table class="table mb-0">
    <thead>
        <tr>
            <th class="align-left"><h3>Quiz Name: {{quiz}}</h3></h3></th>
            {% if user.is_authenticated %}
            {% if user.is_student %}
            <th class="align-right"><a href="{% url 'students:quiz_list'%}" class="btn btn-primary">Home</a></th>
            {% else %}
            <th class="align-right"><a href="{% url 'teachers:quiz_change_list'%}" class="btn btn-primary">Home</a></th>
            {% endif %}
            {% else %}
            <th class="align-right"><a href="{% url 'home'%}" class="btn btn-primary">Home</a></th>
            {% endif %}
        </tr>
    </thead>
    </table>
    <table class="table mb-0">
    <thead>
        <tr>
            <th>#</th>
            <th>Student</th>
            <th>Score</th>
            <th>Submission Time</th>
        </tr>
    </thead>
    <tbody>
        {% for attempt in ranklist%}
        <tr>
        <td>{{ forloop.counter }}</td>
        <td>{{attempt.student}}</td>
        <td>{{attempt.score}}</td>
        <td>{{attempt.date}}</td>
        </tr>
        {% endfor %}
    </tbody>
    </table>
</div>
{% endblock %}