{% extends 'base.html' %}

{% block content %}
  {% include 'classroom/students/_header.html' with active='taken' %}
  <div class="card">
    <table class="table mb-0">
      <thead>
        <tr>
          <th>Quiz</th>
          <th>Subject</th>
          <th>Score</th>
        </tr>
      </thead>
      <tbody>
        {% for taken_quiz in taken_quizzes %}
          <tr>
            <td>{{ taken_quiz.quiz.name }}</td>
            <td>{{ taken_quiz.quiz.subject.get_html_badge }}</td>
            <td>{{ taken_quiz.score }}</td>
            <td class="text-right">
              <a href="{% url 'students:newretake_quiz' taken_quiz.quiz.pk %}" class="btn btn-primary">Retake quiz</a>
            </td>
            <td class="text-right">
              <a href="{% url 'ranklist' taken_quiz.quiz.pk %}" class="btn btn-primary">Ranklist</a>
            </td>
            {% comment %} <td class="text-right">
              <a href="{% url 'my_attempt' taken_quiz.quiz.pk %}" class="btn btn-primary">My Attempts</a>
            </td> {% endcomment %}
          </tr>
        {% empty %}
          <tr>
            <td class="bg-light text-center font-italic" colspan="3">You have not completed any quiz yet.</td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
{% endblock %}
